.orders-container{
    display: flex;
    flex-direction: column;
    border-color: #000;
}

.dialog-container{
    position: fixed;
    background: rgba(31, 31, 31, 0.8) none repeat scroll 0% 0%;

    overflow: auto;
    z-index: 4;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 10;
}

.dialog{
    position: relative;
    background: rgba(255, 255, 255, 1) none repeat scroll 0% 0%;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
    overscroll-behavior: auto;

    z-index: 12;
}

.dialog-info-container{
    margin: 20px;
    margin-left: 3rem;
    margin-top: 50px;
    margin-right: 3rem;

    z-index: 16;
}

@media (min-width: 768px){
    .orders-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 24px;
    }

    .dialog-container{
        position: fixed;
        background: rgba(31, 31, 31, 0.8) none repeat scroll 0% 0%;
    
        overflow: auto;
        z-index: 4;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: inherit;
        height: 100vh;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .dialog{
        position: relative;
        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
        
        z-index: 1;
        margin: 0px auto;
        margin-top: 50px;
        width: 676px;
        min-height: inherit;
        overflow: inherit;
    }
    
    .dialog-info-container{
        margin: 20px;
    }
}

@media (min-width: 1280px){
    .orders-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px 24px;
    }   
}

.order-container{
    padding: 10px;
    margin-bottom: 1rem;
    border: thin solid rgb(226, 226, 226);
    position: relative;

    cursor: pointer;
}

.order-container.no-pointer{
    cursor: default;
}

.order-container.selected{
    border: thin solid rgb(32, 200, 80);
}

.order-container.inactive{
    cursor: default;
    background-color: rgba(33,33,33, 0.3);
}

.ignore-link-styling{
    color: inherit;
    text-decoration: none;
}