.scrolling-container{
    position: sticky;
    top: 0rem;
    margin-top: -2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    border-bottom-style: solid;
    border-color: #f7fafc;
    border-bottom-width: 2px;
    z-index: 1;
}

.action-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
    max-width: 72rem;
}

@media (min-width: 76rem){
    .action-bar{
        margin-left: auto;
        margin-right: auto;
    }
}

.active-order-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

@media(min-width: 950px){
    .active-order-container > * {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

.order-container.unpaid{
    box-shadow: 0px 0px 5px rgb(21, 29, 145);
}

.order-container.completed{
    box-shadow: 0px 0px 5px rgb(26, 143, 59);
}

.selected .order-status{
    color: rgb(26, 143, 59);
}

.info-icon{
    top: 10px;
    right: 10px;
    position: absolute;
}

@keyframes update-flash {
    from { color: yellow; }
    to   { color: default; }
}

.flash .order-status{
    animation-name: update-flash;
    animation-duration: 3.0s;
};

/* so apparently this is necessary or the order-type-button doesn't get applied?? */ 
#order-type-filters{

}

.order-type-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5a67d8;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-right: 1rem;
}

.order-type-button.inactive{
    background-color: #7f85bb;
    cursor: pointer;
}

.order-type-button:hover:not(.inactive), .order-type-button:focus:not(.inactive){
    background-color: #454fa7;
}

.update-status-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #12682f;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
}

.update-status-button.inactive{
    background-color: rgba(0.25, 0.25, 0.25, 0.25);
}

.update-status-button:hover:not(.inactive), .update-status-button:focus:not(.inactive){
    background-color: #0f5024;
}

@media (min-width: 1024px){
    .update-status-button{
        font-size: 1.2rem;
        padding: 0.75rem;
    }
}

.order-status{
    text-align: center;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.order-name{
    margin-top: 0.5rem;
    text-align: center;
    font-weight: 700;
}