.orders-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 24px;
}

.order-container{
    padding: 10px;
    border: thin solid rgb(226, 226, 226);
    position: relative;

    cursor: pointer;
}

.order-container.selected{
    border: thin solid rgb(32, 200, 80);
}

.order-container.unpaid{
    box-shadow: 0px 0px 5px rgb(21, 29, 145);
}

.order-container.completed{
    box-shadow: 0px 0px 5px rgb(26, 143, 59);
}

.order-status{
    bottom: 10px;
    right: 10px;
    position: absolute;
    color: rgb(7, 41, 0);
}

.selected .order-status{
    color: rgb(26, 143, 59);
}

.info-icon{
    top: 10px;
    right: 10px;
    position: absolute;
}

@keyframes update-flash {
    from { color: yellow; }
    to   { color: default; }
}

.flash .order-status{
    animation-name: update-flash;
    animation-duration: 3.0s;
};

ul {
	list-style: none;
}

ul, li {
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
 }

[hidden] {
    display:none;
}


/* Copied from order select page */
.dialog-container{
    position: fixed;
    background: rgba(31, 31, 31, 0.8) none repeat scroll 0% 0%;

    overflow: auto;
    z-index: 4;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog{
    position: relative;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    
    z-index: 1;
    margin: 0px auto;
    width: 676px;
}

.dialog-info-container{
    margin: 20px;
}