.current-employee-container{

}

.current-employee{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 16px;
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.current-employee:hover, .current-employee:focus{
    background-color: rgba(0.1, 0.1, 0.1, 0.1);
}

.current-employee.selected{
    background-color: rgba(0.25, 0.25, 0.25, 0.25);
}

.employee-name{

}

.employee-role{
    font-weight: 700;
}

.double-button-container{
    display: flex;

    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}

.wide-button-container{
    flex-grow: 2;
}

.margin-left-1{
    margin-left: 1rem;
}

.add-button-container{
    margin-top: 1.5rem;
}
.add-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #12682f;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
}

.add-button:hover:not(.inactive), .add-button:focus:not(.inactive){
    background-color: #0f5024;
}

.add-button.inactive{
    background-color: rgba(0.25, 0.25, 0.25, 0.25);
}

.wide-button.inactive{
    background-color: rgba(0.25, 0.25, 0.25, 0.25);
}

.search-result-container{
    margin-top: 2rem;
}

.search-result{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 16px;
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.search-result:hover, .search-result:focus{
    background-color: rgba(0.1, 0.1, 0.1, 0.1);
}

.search-result.selected{
    background-color: rgba(0.25, 0.25, 0.25, 0.25);
}

.search-result-name{
    font-weight: 700;
    margin-bottom: 0.5rem;
}