.remember-forgot-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 1.5rem;
}

.remember-container{
    display: flex;
    flex-direction: row;
    
    align-content: center;
}

.remember-container > input{
    margin: 0rem;
    margin-right: 0.5rem;
}