.login-container{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.login-inner-container{
    padding: 2rem;
    margin: 0px auto;
    margin-top: 2rem;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0,0,0,0.05);
    max-width: 400px;
    width: 80%;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-container > label{
    margin-bottom: 0.25rem;
}

.remember-forgot-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 1.5rem;
}

.remember-container{
    display: flex;
    flex-direction: row;
    
    align-content: center;
}

.remember-container > input{
    margin: 0rem;
    margin-right: 0.5rem;
}

.forgot-link-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.forgot-link{
    text-decoration: none;
}

.login-button-container{
    margin-top: 1.5rem;
}

.login-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5a67d8;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
}

.login-button:hover, .login-button:focus{
    background-color: #667eea;
}