.space-y-6 > * + * {
    margin-top: 1.5rem;
}

header{
    padding: 1rem;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border-color: #f7fafc;
    border-bottom-width: 2px;
}
.mobile-hamburger{
    display: block;
    margin-right: -0.5rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.mobile-hamburger-button{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    -webkit-appearance: button;
    border-style: none;
    padding: 0;
}

.navigation-svg{
    height: 1.5rem;
    width: 1.5rem;
}

.mobile-menu-container{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    z-index: 1000;
}

.mobile-menu{
    padding-top: 2.25rem;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
}

.mobile-exit-button-container{
    display: flex;
    justify-content: flex-end;
}

.mobile-menu-exit-button{
    -webkit-appearance: button;
    border-style: none;
    padding: 0;
}

.mobile-menu-nav{
    display: grid;
    row-gap: 2rem;
    margin-bottom: 2rem;
}

.mobile-nav-link{
    margin: -0.75rem;
    padding: 0.75rem;
    align-items: center;
    border-radius: 0.375rem;

}

.mobile-nav-link:hover{
    background-color: #f7fafc;
}

.mobile-user-actions-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 1rem;
    column-gap: 2rem;
}

.mobile-user-actions{
    display: flex;
    flex-direction: column;
}

.mobile-dashboard-title{
    font-weight: 700;
    color: inherit;
    margin-bottom: 0.25rem;
}
.user-link{
    margin-bottom: 0.5rem;
}

.mobile-user-container{
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.register-container{
    width: 100%;
    display: flex;
    border-radius: 0.375rem;
}

.register-button{
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 1px;
    border-color: transparent;
    font-weight: 500;
    color: #fff;
    background-color: #5a67d8;
    border-radius: 0.375rem;
    text-decoration: none;
}

.logout-container{
    width: 100%;
    display: flex;
    border-radius: 0.375rem;
}

.logout-button{
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 1px;
    border-color: transparent;
    font-weight: 500;
    color: #fff;
    background-color: #e53e3e;
    border-radius: 0.375rem;
    text-decoration: none;
}

.register-button:hover{
    background-color: #667eea;
}

.register-button:focus{
    background-color: #4c51bf;
}

.register-button:active{
    background-color: #4c51bf;
}

.desktop-menu, .desktop-user-actions{
    display: none;
}

.desktop-menu ul li, .desktop-user-actions ul li{
    display: none;
}

h3.restaurant-name{
    font-size:1.75em;
}

/* Larger than a phone screen. Taking a mobile first approach. */
@media (min-width: 768px){
    .mobile-hamburger{
        display: none;
    }
    .mobile-menu{
        display: none;
    }
    h3.restaurant-name{
        font-size: 2em;
    }
    .desktop-menu, .desktop-user-actions{
        display: inline;
    }
    .desktop-menu ul, .desktop-user-actions ul{
        display: flex;
        flex-direction: row;
        font-size: 1.1em;
    }
    
    .desktop-menu ul li, .desktop-user-actions ul li{
        display: inline;
        margin-left: 2em;
    }
}

#nav-user-name{
    margin-left: 2em;
}

#nav-user-name::before{
    display: inline-block;
    content: ' ';
    background-image: url('/svg/account_circle-24px.svg');
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    position: absolute;
    left: -26px;
    top: -25%;

    margin-left: 2em;
}

#nav-user-name::after, #nav-dashboard::after{
    display: inline-block;
    content: ' ';
    background-image: url('/svg/expand_more-24px.svg');
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    position: absolute;
}

.dropdown-container{
    position: relative;
}

.dropdown{
    padding-top: 1em;

    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    display: none;
}

.dropdown-container > .dropdown > li {
    margin-left: 0em;
    text-align: center;
    padding-bottom: 0.5em;
    width: 10em;
    background: #B69179;
}

.dropdown-container:hover > .dropdown,
.dropdown-container:focus-within > .dropdown,
.dropdown:hover{
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 100;
}
