.scrolling-container{
    position: sticky;
    top: 0rem;
    margin-top: -2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    border-bottom-style: solid;
    border-color: #f7fafc;
    border-bottom-width: 2px;
    z-index: 1;
}

#order-action-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
    max-width: 72rem;
    /* To prevent jumping when the checkout button appears. */
    min-height: 51px;
}

/* Ensure we always have at minimum 2rem margin each side. Then center as it gets larger. */
@media (min-width: 76rem){
    #order-action-bar{
        margin-left: auto;
        margin-right: auto;
    }
}

#order-type-buttons, #order-type-selection, #cart-button-container{
    flex: 1;
}

#submit-container{
    text-align: center;
}

@media (min-width: 768px){
    #submit-container{
        text-align: center;
    }
}

#order-submit-link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #12682f;
    border-radius: 0.25rem;
    text-decoration: none;
}

#order-submit-link:hover, #order-submit-link:focus{
    background-color: #0f5024;
}

#order-subtotal{
    font-weight: 300;
    font-size: 15px;
    margin-left: 0.25rem;
}

.order-type-buttons-container{
    display: flex;
    flex-direction: row;
}

.order-type-button-container{
    margin-right: 2rem;
}

.order-type-button-container:last-child{
    margin-right: 0;
}

.order-type-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5a67d8;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.order-type-text{
    margin-left: 0.25rem;
}

.order-type-button:hover:not(.inactive), .order-type-button:focus:not(.inactive){
    background-color: #667eea;
}

.order-type-button.inactive{
    background-color: rgba(0.25, 0.25, 0.25, 0.25);
}

.cart-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-item-count-container{
    position: absolute;
    padding-bottom: 75%;
    padding-left: 75%;
}

#cart-item-count{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
}

#cart-button-container{
    display: flex;
    justify-content: flex-end;
}

#cart-container{
    display: none;
    position: absolute;
    
    margin-top: 2rem;
    /* undoing the margins set by the action bar. We want to take up the whole screen.*/
    margin-right: -2rem;
    margin-left: -2rem;
    padding: 1rem;
    z-index: 9;
    left: 0;
    right: 0;
}

@media (min-width: 816px){
    #cart-container{
        left: inherit;
        right: inherit;
        width: 768px;
    }
}

#cart{
    position: relative;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
}

.cart-exit-button-container{
    display: flex;
    justify-content: flex-end;
}

.line-items-container{
    max-height: 75vh;
    overflow-y: scroll;
}

.order-price-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 2rem;
    font-weight: 700;
}

#empty-cart-notice > h3{
    text-align: center;
    padding-bottom: 1rem;
    color: #4a4a4a;
}

.dialog-active{
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    overscroll-behavior: none;
}

#cart-button{
    cursor: pointer;
}

.category-name{
    margin-left: 2rem;
}

.item-link{
    text-decoration: none;
    color: inherit;
}

.item-info-container{
    padding: 16px;
}

.item-name{
    line-height: 24px;
    align-items: center;
}

.item-description{
    padding-top: 4px;
    line-height: 20px;
    word-break: break-word;
}

.item-price{
    margin-top: auto;
    padding-top: 8px;
    line-height: 24px;
}

.dialog-info-container > h3{
    margin-top: 2rem;
}

.item-option-container{
    display: flex;
    margin-bottom: 2rem;
}

.item-option-button{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-option-name{
    margin-left: 0.5rem;
}

.dialog-bottom-container{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.item-comment-container{
    display: flex;
    flex-direction: column;
}

.item-quantity-container{
    margin-top: 1rem;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
}

.item-comment-label{
    font-weight: 700;
    margin-bottom: 0.5rem; 
}

.item-quantity-up-button, .item-quantity-down-button{
    margin-top: -0.25em;
}

.item-quantity-value{
    margin-left: 0.35rem;
    margin-right: 0.35rem;
}

.item-submit-button-container{
    margin-top: 1rem;
}

.item-submit-button{
    position: relative;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-width: 1px;
    border-color: transparent;
    font-weight: 500;
    color: #fff;
    background-color: #313131;
    border-radius: 0.375rem;
    text-decoration: none;
}

.item-submit-button.valid{
    background-color: #12682f;
}

.item-submit-button.valid:hover, .item-submit-button.valid:focus{
    background-color: #0f5024;
}

.item-price-total-container{
    position: absolute;
    left: 0;
    margin-left: 2rem;
}

.item-submit-text{
    font-weight: 700;
}