#cart-button{
    cursor: pointer;
}

.item-link{
    text-decoration: none;
    color: inherit;
}

.item-info-container{
    padding: 16px;
}

.item-name{
    line-height: 24px;
    align-items: center;
}

.item-description{
    padding-top: 4px;
    line-height: 20px;
    word-break: break-word;
}

.item-price{
    margin-top: auto;
    padding-top: 8px;
    line-height: 24px;
}

.dialog-info-container > h3{
    margin-top: 2rem;
}

.item-option-container{
    display: flex;
    margin-bottom: 2rem;
}

.item-option-button{
    margin-top: -0.25rem;
}

.item-option-name{
    margin-left: 0.5rem;
}

.item-additions-button{
    margin-top: -0.25rem;
}

.item-addition-container{
    display: flex;
    margin-bottom: 2rem;
}

.item-addition-name{
    margin-left: 0.5rem;
}

.dialog-bottom-container{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.item-comment-container{
    display: flex;
    flex-direction: column;
}

.item-quantity-container{
    margin-top: 1rem;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
}

.item-comment-label{
    font-weight: 700;
    margin-bottom: 0.5rem; 
}

.item-quantity-up-button, .item-quantity-down-button{
    margin-top: -0.25em;
}

.item-quantity-value{
    margin-left: 0.35rem;
    margin-right: 0.35rem;
}

.item-submit-button-container{
    margin-top: 1rem;
}

.item-submit-button{
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 1px;
    border-color: transparent;
    font-weight: 500;
    color: #fff;
    background-color: #313131;
    border-radius: 0.375rem;
    text-decoration: none;
}

.item-submit-button.valid{
    background-color: #12682f;
}

.item-submit-button.valid:hover, .item-submit-button.valid:focus{
    background-color: #0f5024;
}