.split-layout{
    margin: 0 1rem;
}

.order{
    max-width: 768px;
}

.line-items-container{
    max-width: 768px;
}

.order-header{
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0px;
    margin-bottom: 0.25rem;
}

.delivery-address-container{
    margin-top: 0.75rem;
}

.current-address-container{
    display: flex;
    flex-direction: row;
}

#change-address-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5a67d8;
    padding: 0.5rem;
    border-radius: 0.25rem;

    margin-left: 1rem;
}

#change-address-button:hover, #change-address-button:focus{
    background-color: #667eea;
}

#change-address-button.cancel{
    background-color: #e53e3e;
}

#change-address-button.cancel:hover, 
#change-address-button.cancel:focus{
    background-color: #C23434;
}

#address-select-container{
    margin-top: 1rem;
}

.ignore-link{
    text-decoration: none;
    color: inherit;
}

.payment-info-center{
    display: flex;
    justify-content: center;
}

.payment-info-container{
    margin-top: 3rem;
    width: 100%;
    max-width: 496px;
}

.payment-info-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.payment-descriptor{
    font-weight: 700;
}

.payment-amount{
    margin-left: 3rem;
}

.payment-total{
    padding-top: 0.5rem;
    
    border-top-width: 2px;
    border-color: #cccccc;
    border-top-style: solid;
    
}

.stripe-payment-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.20), 0 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 3px;
}

#stripe-card-element{
    padding: 10px;
    margin-bottom: 2px;
}

#stripe-card-errors{
    margin-bottom: 0.50rem;
    text-align: center;
}

#stripe-payment-submit{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #12682f;
    padding: 0.75rem;
    border-radius: 0.25rem;
    width: 100%;
    font-size: 16px;
}

#stripe-payment-submit:hover:not(.inactive), #stripe-payment-submit:focus:not(.inactive){
    background-color: #0f5024;
}

.spinner {
    text-align: center;
}
  
.spinner > div {
    width: 16px;
    height: 16px;
    background-color: #FFF;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    margin-right: 0.5rem;
}
  
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
  
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
  
@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}
  
@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
} 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

.personal-info{
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    padding: 1rem;
}

.personal-name{
    font-weight: 700;
}

.personal-line{
    text-align: center;
}

.address-select-container > *{
    margin: 0.25rem 1rem;
}

.address-select-container{
    flex-wrap: wrap;
}

@media (min-width: 768px){
    .text-form-inner-container{
        height: max-content;
        margin: 0;
    }

    .background-gray{
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 0.5rem;
        padding: 1rem;
    }

    .personal-info{
        margin: 0;
    }

    .stripe-payment-container{
        max-width: 496px;
    }
}