ul {
	list-style: none;
}

ul, li {
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
 }

/* I know important is sometimes a sign of bad design.
However I feel that certain html/css components ignoring hidden
is itself bad design. They forced my hand. */
[hidden] {
    display:none !important;
}

/* Needed to prevent zoom in when iOS safari users select an input field. */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}